/*
Exodus RTL Styles
Author: Itay Banner
Version: 0.1
*/

/*
 * Masthead for nav
 */

/*********************/
/* # TYPOGRAPHY
/*********************/

body {
    font-family: "Open Sans" , sans-serif;
    direction: rtl;
    unicode-bidi: embed;
}

/*html, body {*/
/*height: 100%;*/
/*}*/

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-family: "Open Sans" , sans-serif;
}

h4.caption, .h4.caption,
h5.caption, .h5.caption,
h6.caption, .h6.caption {
    font-family: "Open Sans", sans-serif;
}


/*********************/
/* # Bootstrap RTL
/*********************/

.dropdown-menu {
    text-align: right;
}

/*********************/
/* # ACCESSIBILITY
/*********************/

.screen-reader-text:focus {
    right: 5px;
    left: initial;
}

/*********************/
/* # LAYOUT
/*********************/


/*********************/
/* # HEADER
/*********************/

/* ## Masthead & Branding */

/*
@media screen and (min-width: 50em) {

    .left-header {
        right: 0;
        width: 245px;
    }

    .right-header {
        left: 0;
        top: 0 !important;
    }
}

.left-header {
    right: 0;
    float: right;
}

.right-header {
    left: 15px;
}

.wpml-switch {
    display: inline-block;
    !*float: left;*!
}

#header-search {
    display: inline-block;
    float: left;
}

*/
#header-search input[type=text] {
    padding: 0 30px 0 5px;
}

/*
#header-search button {
    left: 15px;
}
*/

@media screen and (min-width: 50em) {

/*    #header-search {
        float: right;
        margin-right: 10px;
    }*/

    #header-search button {
        right: -40px;
    }
}

/* ## Navigation */

.main-navigation ul {
    padding-right: 0;
}

.main-navigation ul ul {
    margin-right: 0.8em;
}

.main-navigation .menu-item-has-children > a,
.main-navigation .page_item_has_children > a{
    padding-left: 48px;
}

.nav-dropdown-toggle {
    right: initial;
    left: 6px;
}

.nav-dropdown-toggle:after {
    right: 0;
    left: initial;
}

.menu-toggle {
    right: 15px;
    left: initial;
}

/* ## Hovering menu */

.main-navigation.toggled {
    right: 0;
    left: initial;
}

/* Horizontal menu on wide screens */
@media screen and (min-width: 50em) {

    /* Right-align drop-down menu items */
    .main-navigation li li {
        text-align: right;
    }

    /* Position drop-down menus absolutely */
    .main-navigation ul ul.toggled-on {
        margin-right: 0;
    }

    /* Indent 3rd level drop-down menus */
    .main-navigation ul ul ul a {
        padding-right: 2em;
    }

    /* Simplify the drop-down toggle */
    .nav-dropdown-toggle {
        left: 12px;
        right: initial;
    }

    .menu-main-container {
        float: left;
    }

}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
    float: right;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
    float: left;
    text-align: left;
}

/*********************/
/* # CONTENT
/*********************/

a.siddur i {
    margin-left: 1em;
}

#sub-cats button {
    margin: 8px 15px 8px 0;
}

@media screen and (min-width: 37em){
    .filter-group.format {
        float: left;
    }
}

.filter-group i {
    float: left;
}

/* ### Grid */

/* Responsive Column Width */

.grid-item {
    /*height: auto;*/
    float: right;
}

#siddur-toggle {
    float: left;
}

.social-meta ul li:last-child {
    float: left;
}

/* ## Home */

#top-cat-link {
    float: left;
}

/* ## Content Elements */
.author-avatar {
    float: right;
    margin-left: 2em;
}

/* Pagination */
.pager {
    text-align: right;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-meta {
    margin-right: 70px;
}

.comment .avatar {
    right: -70px;
    left: initial;
}

.children {
    margin-right: 1em;
    padding-right: 0;
}

@media screen and (min-width: 30em) {

    .children {
        margin-right: 2em;
    }

    .comment-meta {
        margin-right: 80px;
    }

    .comment .avatar {
        right: -80px;
        left: initial;
    }

    .comment-content {
        margin-right: 80px;
    }

}

@media screen and (min-width: 50em) {

    .children {
        margin-right: 3em;
    }

    .comment-meta {
        margin-right: 90px;
    }

    .comment .avatar {
        right: -90px;
        left: initial;
    }

    .comment-content {
        margin-right: 90px;
    }
}

.reply {
    text-align: left;
}

.bypostauthor .avatar {
    margin-right: -5px;
}

/* Comment Form */

.comment-list .comment-reply-title {
    text-align: right;
}

.comment-form .form-submit {
    text-align: left;
}

/*********************/
/* # FORMS
/*********************/

/*********************/
/* # FOOTER
/*********************/

#back-to-top {
    float: left;
}