@import   "../modules/all";

// Base Font
$base-font-family:  $font-roboto;
$base-font-size:    12px;
$base-font-weight:  $font-normal;
$base-line-height:  16px;

// Theme colors
$color-font-base:     #7c7c7c;
$color-font-heading:  #545454;
$color-font-sr:       #21759b;

$color-bg-base:       #f9f9f9;
$color-bg-primary:    #f0f0f0;
$color-bg-highlight:  #cbd8ea;
$color-bg-footer:     #d7d7d7;
$color-bg-sr:         #f1f1f1;

$color-highlight:     $color-logo-blue;

// Post Types
$customs-bg-color:    $color-logo-red;
$customs-symbol:      "fa-chevron-up";
$how-to-bg-color:     $color-logo-yellow;
$how-to-symbol:       "fa-square";
$thought-bg-color:    $color-logo-blue;
$thought-symbol:      "fa-circle";
$music-bg-color:      #9ed0c0;
$music-symbol:        "fa-close";
$misc-bg-color:       #6a6a6a;
$misc-symbol:         "fa-minus";
$notype-bg-color:     #000000;

// Grid Settings
$grid-item-bg:        #ffffff;

// Dimensions
$height-nav-top:      55px;
$height-nav-main:     50px;