@import   "../modules/all";

// Base Font
$base-font-family:  $font-roboto;
$base-font-size:    14px;
$content-font-size: 20px;
$title-font-size:   $content-font-size * 2;
$base-font-weight:  $font-normal;
$base-line-height:  16px;

// Theme colors
$color-font-base:     #7c7c7c;
$color-font-heading:  #545454;
$color-font-sr:       #21759b;

$color-bg-base:       #f8f8f8;
$color-bg-primary:    #f0f0f0;
$color-bg-highlight:  #cbd8ec;
$color-bg-footer:     #d7d7d7;
$color-bg-sr:         #f1f1f1;

$color-highlight:     #527ebf;

// Borders
$border-tooltip:      #e6e6e6;

// Shadows
$shadow-mobile-menu:  rgba(230, 230, 230, 0.5);
$shadow-black_60:     rgba(0, 0, 0, 0.6);

// Post Types
$customs-bg-color:    #f16351;
$customs-symbol:      "fa-chevron-up";
$how-to-bg-color:     #fcd56d;
$how-to-symbol:       "fa-square";
$thought-bg-color:    #527ebf;
$thought-symbol:      "fa-circle";
$music-bg-color:      #69cc98;
$music-symbol:        "fa-close";
$misc-bg-color:       #545454;
$misc-symbol:         "fa-minus";
$notype-bg-color:     #000000;

// Grid Settings
$grid-item-bg:        #ffffff;

// Dimensions
$h-header-mobile:             58px;
$h-header-desktop-min:        80px;
$h-header-top:                32px;
$h-search-mobile:             55px;
$h-nav-cats:                  45px;
$h-footer:                    60px;
$h-wp-adminbar-mobile:        46px;
$h-wp-adminbar-desktop:       32px;

$w-desktop-content:           907px;