@import "../modules/mixins";

/*------------------------------------*\
  #HEADER
\*------------------------------------*/

.page-head__menu-toggle,
.page-head__masthead,
.wpml-switch {
  display: inline-block;
  vertical-align: middle;
  height: inherit;
  width: 100px;
}

.page-head__menu-toggle {
  text-align: left;
  float: left;
  font-size: 20px;
}

.page-head__masthead {
  text-align: center;
}

.wpml-switch {
  float: right;
  text-align: right;
}

  .wpml-switch__link,
  .wpml-switch__flag {
    display: inline-block;
    height: 30px;
  }

  .wpml-switch__flag {
    margin-left: 10px;
  }

.search-form--header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  position: relative;

  .input {
    @extend .input;
    font-size: $base-font-size;
    border: 1px solid $color-highlight;
    color: $color-highlight;
    @include placeholder-color($color-highlight);
    width: 100%;
    margin-right: 10px;
  }

  .input--search {
    padding-left: 30px;
  }

  .input--select {
    background-color: $color-logo-red;
    color: #ffffff;
    padding: 5px 10px;
    border-color: $color-logo-red;
  }
}

  .input__search-icon {
    position: absolute;
    left: 10px;
    padding: 0 10px;

    i {
      height: 28px;
      line-height: 28px;
    }
  }

/*------------------------------------*\
  #NAVIGATION
\*------------------------------------*/

.main-navigation {
  position: relative;
}

.menu-categories-container {
  padding: 10px;
  width: 100%;
  height: 40px;
  overflow: auto;
}

  .main-navigation ul {
    max-height: 20px;
    display: table;
    // width: 100%;
    padding-right: 40px;
  }

  .main-navigation li {
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap;
    padding-right: 10px;
  }

  .main-navigation a {
    padding: 1px 10px;
    background-color: $color-highlight;
    @include border-radius(12px);
    color: $color-bg-highlight;
    text-align: center;
    font-size: 12px;
    vertical-align: text-top;

    &:hover {
      text-decoration: none;
    }
  }

  .main-navigation__more {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;

    button {
      height: 40px;
      width: 50px;
      z-index: 9999;
      padding: 0;
      @include gradient-left-border($color-bg-highlight,10px);

      i {
        height: inherit;
        width: inherit;
        background-color: $color-bg-highlight;
        display: table-cell;
        vertical-align: middle;
      }
    }
  }

  .main-navigation__more:before {
    background-color: #00a000;
    content: ' ';
    height: 40px;
    width: 5px;
  }
/*

.main-navigation a:hover,
.main-navigation a:focus {
  color: $color-bg-highlight;
}

.main-navigation ul .toggled-on {
  display: block;
}

.main-navigation .current-menu-item > a,
.main-navigation .current-menu-ancestor > a,
.main-navigation .current_page_item > a,
.main-navigation .current_page_ancestor > a {
  font-weight: 700;
}

.main-navigation .nav-menu > ul > li:first-child,
.main-navigation .nav-menu > li:first-child {
  border-top: 0;
}

.main-navigation .menu-item-has-children > a,
.main-navigation .page_item_has_children > a{
  padding-right: 48px;
}

.no-js .main-navigation ul ul {
  display: block;
}
*/

/*------------------------------------*\
  #ARCHIVE GRID
\*------------------------------------*/

.grid:after {
  content: '';
  display: block;
  clear: both;
}

button.alm-load-more-btn{
  font-size:16px;
  font-weight: $font-bold;
  width:auto;
  height: 42px;
  line-height: 44px;
  background: $color-logo-red;
  color:#fff;
  border: none;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:42px;
  margin: 0 0 4px;
  padding:0 20px;
  display: inline-block;
  position: relative;
  -webkit-transition: padding 0.25s ease-in-out, width 0.25s ease-in-out;
  -moz-transition: padding 0.25s ease-in-out, width 0.25s ease-in-out;
  transition: padding 0.25s ease-in-out, width 0.25s ease-in-out;
  text-align: center;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
       -moz-user-select: -moz-none;
        -ms-user-select: none;
            user-select: none;
  cursor: pointer;
}
button.alm-load-more-btn:hover{
  text-decoration: none;
}

button.alm-load-more-btn:active{
  text-decoration: none;
  -webkit-box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.1);
}

/* Loading */
button.alm-load-more-btn.loading{
  padding-left: 60px;
}

/* Loaded / Done */
button.alm-load-more-btn.done{
  cursor: default;
  opacity: 0.2;
  filter: alpha(opacity=20);
  background-color: #ed7070;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

/* Loading Icon */
button.alm-load-more-btn:before,
button.alm-load-more-btn.done:before{
  background: none;
  width: 0;
}

/* Loading :before */
button.alm-load-more-btn.loading:before {
  background: #fff url("../images/ajax-loader.gif") no-repeat center center;
  width: 30px;
  height: 30px;
  margin: 6px 6px 6px 24px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:2px;
  display: inline-block;
  z-index: 0;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  -webkit-transition: width 0.5s ease-in-out;
  -moz-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}

.alm-btn-wrap{
  text-align: center;
  padding: 10px 10px 30px;
  overflow: hidden;
  display: block;
}

/*------------------------------------*\
  #ARCHIVE GRID ITEM
\*------------------------------------*/

/* Responsive Column Width */

.grid-item {
  float: left;
  width: 100%;
  padding: 0 10px !important;
  margin-bottom: 10px !important;

  @include  respond-to-min(600px){ width: 50%;   }
  @include  respond-to-min(800px){ width: 33%;   }
  @include respond-to-min(1000px){ width: 25%;   }
  @include respond-to-min(1200px){ width: 20%;   }
  @include respond-to-min(1600px){ width: 12.5%; }

  embed,
  iframe,
  object {
    height: auto;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
}
.grid-item__thumbnail {
  background-color: #ffffff;
}

.grid-item__details {
  padding: 10px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  text-align: initial;
  background-color: $grid-item-bg;

  h2 {
    font-size: 1.2rem;
    text-align: initial;
    border: none;
    line-height: 2rem;
    margin-top: 5px;
    font-weight: $font-normal;
  }

  .grid-item__title-link, .grid-item__excerpt {
    color: $color-font-base;
    text-decoration: none;
  }
}

  .grid-item__title-link {
    color: $color-font-base;

    &:hover {
      text-decoration: none;
    }
  }

.author-byline {
  line-height: 3rem;
}

.author-byline__name, .author-byline__avatar {
  display: inline-block;
  vertical-align: middle;
}

.author-byline__name {
  padding-left: 10px;
}



  .grid-item__excerpt {
    margin: 5px 0;
  }



.type-label {
  text-transform: uppercase;
  font-weight: $font-bold;
  font-size: 85%;
  color: #ffffff;
  margin-left: -10px;
  padding: 2px 10px 2px 30px;
}

.type-label--customs {
  @extend .type-label;
  background-color: $customs-bg-color;
}

.type-label--how-to {
  @extend .type-label;
  background-color: $how-to-bg-color;
}

.type-label--thought {
  @extend .type-label;
  background-color: $thought-bg-color;
}

.type-label--nusic {
  @extend .type-label;
  background-color: $music-bg-color;
}

.type-label--misc {
  @extend .type-label;
  background-color: $misc-bg-color;
}

.type-label--none {
  @extend .type-label;
  background-color: $notype-bg-color;
}



.siddur-toggle {
  float: right;
  font-size: initial;

  .fa-bookmark {
    color: $color-logo-yellow;
  }
}

/*------------------------------------*\
  #FOOTER
\*------------------------------------*/

.page-foot {
  font-size: $base-font-size;
}

  .page-foot__colophon a {
    color: inherit;
    font-weight: $font-bold;
  }

  .page-foot__nav-menu ul {
    text-align: right;
  }

  .page-foot__nav-menu li {
    display: inline-block;
    line-height: 60px;
    padding-left: 10px;

    a {
      font-weight: $font-bold;
    }
  }