@import "../modules/mixins";

/*------------------------------------*\
  #HEADER
\*------------------------------------*/

.page-head__menu-toggle,
.page-head__masthead,
.wpml-switch {
  display: inline-block;
  vertical-align: middle;
  height: inherit;
}

.page-head__menu-toggle {
  text-align: left;
  float: left;
  font-size: 20px;
  height: $h-header-top;
}

.page-head__masthead {
  text-align: center;
}

.wpml-switch {
  float: right;
  text-align: right;

  @include respond-to(not-mobile) {
    float: left;
    padding-left: 30px;
  }

  svg, img {
    display: inline-block;
    height: 26px;
    margin-left: 12px;
    color: #ffffff;

    @include respond-to(not-mobile) {
      height: $h-header-top;
      margin-left: 15px;
    }
  }

  > svg, > img {
    margin: 0;
  }
}

.wpml-switch__link {
  svg {
    opacity: 0.5;
    color: #f0f0f0;
  }

  a:hover {
    text-decoration: none;
  }
}


.search-form {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: $h-search-mobile;

  @include respond-to(not-mobile) {
    width: 100%;

    .parallax-container & {
      justify-content: center;
    }
  }

  &.search-form--mini-header {
    height: $h-header-top;
  }

  .home & {
    margin: 0 15px;

    @include respond-to(mobile) {
      display: block;

      .btn-group {
        width: 100%;
      }
    }
  }

  @include respond-to-min($break-large) {
    width: 826px;

    .single &,
    .page:not(.my-siddur) & {
      width: 100%;
    }
  }

  .input {
    @extend .input;
    font-size: $base-font-size;
    margin-right: 10px;
    text-align: left;
    height: $h-header-top;

    &:not(.input--split-select) {
      border-radius: 15px;
    }

    &.input--split-select-label {
      border-radius: 15px 0 0 15px;
      width: 80%; /* fallback for browsers without support for calc() */
      width: calc(100% - 30px);
    }

    &.input--split-select-arrow {
      border-radius: 0 15px 15px 0;
      box-shadow: inset 3px 3px 3px rgba(0,0,0,.125);
      width: 20%; /* fallback for browsers without support for calc() */
      width: calc(30px);
    }

    .home & {
      height: 44px;
      margin-bottom: 15px;
      font-size: 16px;

      &:not(.input--split-select) {
        border-radius: 22px;
      }

      &.input--split-select-label {
        border-radius: 22px 0 0 22px;
      }

      &.input--split-select-arrow {
        border-radius: 0 22px 22px 0;
      }
    }

    @include respond-to(not-mobile) {
      margin: 0;
      font-size: 16px;
      border-radius: $h-header-top;

      &:not(.input--split-select) {
        border-radius: $h-header-top;
      }

      &.input--split-select-label {
        border-radius: $h-header-top 0 0 $h-header-top;
      }

      &.input--split-select-arrow {
        border-radius: 0 $h-header-top $h-header-top 0;
      }

      @include has-parallax() {
        height: 44px;
        margin: 0;
      }

      .single,
      .page:not(.my-siddur) & {
        font-size: 14px;
      }
    }
  }

  .input:not(.input--split-select) {
    width: 100%;
  }

  .input--search {
    padding: 0 0 0 40px;
    vertical-align: middle;
    font-size: 12px;

    .home & {
      padding-left: 50px;
      font-size: inherit;
    }

    @include respond-to(not-mobile) {
      padding-left: 50px;
      font-size: inherit;
    }
  }

  .input--select, .input--split-select {
    background-color: $color-logo-red;
    color: #ffffff;
    border-color: $color-logo-red;
    margin-right: 0;
  }

  .input--select {
    padding: 5px 10px 5px 17px;
  }

  .input--split-select {

    &button {
      width: inherit;
    }
  }

  .filter-group {
    @include respond-to(not-mobile) {
      margin-left: 20px;
    }
  }

  .current-filter-type {
    margin-right: 15px;
  }
}

  .input__search-icon {
    position: absolute;
    top: 12px;
    left: 20px;
    padding: 0;
    height: $h-header-top - 2px;

    .home & {
      height: 44px;
    }

    @include respond-to(not-mobile) {
      height: 44px;

      .single &,
      .page:not(.my-siddur) & {
        height: $h-header-top;
        top: 5px;
        left: 25px;
      }
    }

    i {
      height: 28px;
      line-height: 28px;
    }
  }




header.parallax-container {
  position: relative;
  height: 158px;

  .home & {
    @include parallax-container(100%);
  }

  @include respond-to(not-mobile) {
    @include parallax-container(387px);

    .home & {
      @include parallax-container(387px);
    }
  }

  &.type-filter-open {
    @include respond-to(not-mobile) {
      @include parallax-container(600px);
      @include transition(height 1s ease-in-out);

      .parallax img {
        transform: translateX(-50%);
      }

      .home & {
        @include parallax-container(600px);
        @include transition(height 1s ease-in-out);

        .parallax img {
          transform: translateX(-50%);
        }
      }
    }
  }

  .parallax {
    display: none;

    .home & {
      display: block;
    }
    @include respond-to(not-mobile) {
      @include parallax;
    }
  }

  .page-head__top {
    .home & {
      background-color: transparent;
    }

    @include respond-to(not-mobile) {
      background-color: transparent;
    }
  }


  .page-head__search {
    @include respond-to(not-mobile) {
      background-color: transparent;
    }
  }

  .page-head__navbar {
    position: absolute;
    bottom: 0;
  }
}

.current-user__avatar--default {
  margin-left: 12px;
  background: #f0f0f0;
}


.page-head__masthead {
  display: block;
  position: absolute;
  left: 50%;
  height: 34px;
  width: 34px;
  margin-left: -17px;

  .home & {
    top: 146px;
    height: 65px;
    width: 163px;
    margin-left: -81.5px;
  }

  @include respond-to(tablet) {
    top: 10px;
    height: 34px;
    width: 34px;
    margin-left: -17px;

    .parallax-container & {
      top: 113px;
      height: 76px;
      width: 192px;
      margin-left: -96px;
    }
  }

  @include respond-to(desktop) {
    top: 10px;
    height: 60px;
    width: 151.58px;
    margin-left: -75.79px;

    .parallax-container & {
      top: 113px;
      height: 76px;
      width: 192px;
      margin-left: -96px;
    }
  }
}

/*------------------------------------*\
  #PAGES
\*------------------------------------*/

.page-template-full-page-form {
  background-color: $color-bg-highlight;
}

.acf-form {
  .acf-fields {
    .acf-field {
      padding: 0;
      border: none;
      margin-bottom: 50px;
      .acf-label {
        label, p {
          font-size: $content-font-size;
        }
      }

      .acf-radio-list {
        li label {
          font-weight: $font-normal;
          text-transform: capitalize;
        }
      }
      &[data-name="more_info"] {
        display: none;
      }
    }
  }
}

.wpcf7-form {

  @include respond-to(not-mobile) {
    width: 576px;
    margin-right: auto;
    margin-left: auto;
  }

  .contact-meta-fields {
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }

  .contact-your-name,
  .contact-your-email,
  .contact-subject,
  .contact-your-message {
    width: 100%
  }

  @include respond-to(not-mobile) {
    .contact-your-name,
    .contact-your-email {
      width: calc(50% - 10px);
    }
  }
}

.acf-form,
.wpcf7-form {

  label {
    display: block;
    margin-top: $content-font-size;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: $font-bold;
    font-size: $content-font-size;
  }

  input,
  textarea {
    @extend .input;
    width: 100%;
    border-radius: 25px;
    padding: 15px;
  }

  input[type="text"] {
    height: 50px;
  }

  input[type="submit"] {
    @extend .input--button;
    font-size: $content-font-size;
    line-height: $content-font-size;
    margin-top: $content-font-size;
    margin-bottom: $content-font-size;
    height: 50px;
    width: auto;

    @include respond-to(not-mobile) {
      margin-bottom: 70px;
    }
  }

  .wp-editor-tools,
  .quicktags-toolbar {
    display: none;
  }
}

/*------------------------------------*\
  #NAVIGATION
\*------------------------------------*/

.main-navigation {
  position: relative;
}

.menu-categories-container {
  padding: 10px;
  width: 100%;
  height: $h-nav-cats;
  overflow: auto;
}

  .main-navigation ul {
    height: 100%;
    display: table;
    padding-right: 40px;
  }

  .main-navigation li {
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap;
    padding-right: 10px;
  }

  .main-navigation {

    a {
      @extend .capsule;
      font-size: 12px;
    }

    .current-menu-item a {
      @include border-radius(12px);
      text-decoration: none;
      background-color: #ffffff;
      color: $color-highlight;
    }

  }

  .main-navigation__more {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;

    button {
      height: $h-nav-cats;
      width: 50px;
      z-index: 9999;
      padding: 0;
      @include gradient-left-border($color-bg-highlight,10px);

      i {
        height: inherit;
        width: inherit;
        background-color: $color-bg-highlight;
        display: table-cell;
        vertical-align: middle;
      }
    }
  }

  .main-navigation__more:before {
    background-color: #00a000;
    content: ' ';
    height: $h-nav-cats;
    width: 5px;
  }



.page-head__my-account {
  font-size: 18px;
  font-weight: $font-bold;

  .anon,
  .logged-in {
    display: inline-flex;
    display: -webkit-inline-flex;
    float: right;

    a {
      padding: 0 6px;
      text-transform: capitalize;
    }
  }
}




.page-head__account-nav {
  padding: 0 15px;
  top: $h-header-mobile;
  width: calc(100% - 64px);
  height: 100%;
  font-size: 130%;
  -webkit-box-shadow: 64px 1px 1px $shadow-mobile-menu;
  -moz-box-shadow: 64px 1px 1px $shadow-mobile-menu;
  box-shadow: 64px 1px 1px $shadow-mobile-menu;

  @include respond-to(not-mobile) {
    width: 188px;
    height: auto;
    top: 58px;
    left: 27px;
    -webkit-box-shadow: 1px 1px 1px $shadow-mobile-menu;
    -moz-box-shadow: 1px 1px 1px $shadow-mobile-menu;
    box-shadow: 1px 1px 1px $shadow-mobile-menu;

    &::before {
      content: "";
      position: absolute;
      bottom: 100%;
      left: 15px;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent $border-tooltip transparent;
    }
  }

  a {
    margin: 10px;
    display: block;
  }

  .toggled & {
    display: block;
  }
}


.session-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 27px;
  margin-bottom: 40px;

  .current-user__avatar {
    width: 53px;
    margin-left: calc(50% - 26.5px);
  }

  p {
    text-align: center;
    margin-top: 15px;
    font-weight: $font-bold;

    a {
      display: inline;
    }
  }

  @include respond-to-min($break-small + 1) {
    .page-head__account-nav & {
      display: none;
    }
  }
}




.filter-group.type {
  min-width: 105.5px;
  margin-left: 10px;

  .home & {
    margin-left: 0;
  }

  @include respond-to(not-mobile) {
    margin-left: 20px;
    min-width: 160px;

    .parallax-container & {
      margin-left: 20px;
      min-width: 160px;
    }
  }

  /*@include respond-to(tablet) {
    min-width: 160px;
  }*/


  .dropdown-menu {
    min-width: inherit;
    width: inherit;
    margin-top: 10px;
    font-size: 12px;
    top: 33px;
    position: absolute;
    display: none;
    // margin-left: inherit;

    &::before {
      content: "";
      position: absolute;
      bottom: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent $border-tooltip transparent;
    }

    li {
      display: block;
      min-width: inherit;

      a {
        line-height: 30px;
        padding: 0 15px;
      }
    }

  }

  &.open>.dropdown-menu {
    display: block;
  }
}



/*------------------------------------*\
  #ARCHIVE GRID
\*------------------------------------*/

.grid:after {
  content: '';
  display: block;
  clear: both;
}

button.alm-load-more-btn{
  font-size:16px;
  font-weight: $font-bold;
  width:auto;
  height: 42px;
  line-height: 44px;
  background: $color-logo-red;
  color:#fff;
  border: none;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:42px;
  margin: 0 0 4px;
  padding:0 20px;
  display: inline-block;
  position: relative;
  -webkit-transition: padding 0.25s ease-in-out, width 0.25s ease-in-out;
  -moz-transition: padding 0.25s ease-in-out, width 0.25s ease-in-out;
  transition: padding 0.25s ease-in-out, width 0.25s ease-in-out;
  text-align: center;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
       -moz-user-select: -moz-none;
        -ms-user-select: none;
            user-select: none;
  cursor: pointer;
}
button.alm-load-more-btn:hover{
  text-decoration: none;
}

button.alm-load-more-btn:active{
  text-decoration: none;
  -webkit-box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.1);
}

/* Loading */
button.alm-load-more-btn.loading{
  padding-left: 60px;
}

/* Loaded / Done */
button.alm-load-more-btn.done{
  cursor: default;
  opacity: 0.2;
  filter: alpha(opacity=20);
  background-color: #ed7070;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

/* Loading Icon */
button.alm-load-more-btn:before,
button.alm-load-more-btn.done:before{
  background: none;
  width: 0;
}

/* Loading :before */
button.alm-load-more-btn.loading:before {
  background: #fff url("../images/ajax-loader.gif") no-repeat center center;
  width: 30px;
  height: 30px;
  margin: 6px 6px 6px 24px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:2px;
  display: inline-block;
  z-index: 0;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  -webkit-transition: width 0.5s ease-in-out;
  -moz-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}

.alm-btn-wrap{
  text-align: center;
  padding: 10px 10px 90px;
  overflow: hidden;
  display: block;
}

/*------------------------------------*\
  #ARCHIVE GRID ITEM
\*------------------------------------*/

/* Responsive Column Width */

.grid-item {
  float: left;
  width: 100%;
  padding: 0 10px !important;
  margin-bottom: 10px !important;

  @include  respond-to-min(600px){ width: 50%;   }
  @include  respond-to-min(800px){ width: 33%;   }
  @include respond-to-min(1000px){ width: 25%;   }
  @include respond-to-min(1200px){ width: 20%;   }
  @include respond-to-min(1600px){ width: 12.5%; }

  embed,
  iframe,
  object {
    height: auto;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  .video-unavailable {
    width: 100%;
    text-align: center;
    background-color: #d5d5d5;
    color: #999999;
    font-size: 36px;

    &:hover {
      text-decoration: none;
    }
  }
}
.grid-item__thumbnail {
  background-color: #ffffff;
}

.grid-item__details {
  padding: 20px 22px 26px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  text-align: initial;
  background-color: $grid-item-bg;
  color: $color-font-base;

  h2 {
    font-size: 20px;
    text-align: initial;
    border: none;
    line-height: 2rem;
    margin-top: 16px;
    font-weight: $font-normal;
  }

  .grid-item__title-link {
    text-decoration: none;
    color: $color-font-base;

    &:hover {
      text-decoration: underline;
    }
  }

  .grid-item__excerpt, .grid-item__excerpt:hover {
    color: $color-font-base;
    text-decoration: none;
    font-size: 14px;
    margin-top: 16px;
  }
}


.author-byline {
  margin-top: 16px;
}

.author-byline__name, .author-byline__avatar {
  display: inline-block;
  vertical-align: middle;
}

.author-byline__name {
  padding-left: 10px;
  height: 24px;
  line-height: 24px;
}

.type-label {
  text-transform: uppercase;
  font-weight: $font-bold;
  font-size: 15px;
  color: #ffffff;
  margin-left: -22px;
  padding: 2px 10px 2px 30px;

  &:active, &:hover {
    color: #ffffff;
  }
}

.type-label--customs {
  @extend .type-label;
  background-color: $customs-bg-color;
}

.type-label--how-to {
  @extend .type-label;
  background-color: $how-to-bg-color;
}

.type-label--thought {
  @extend .type-label;
  background-color: $thought-bg-color;
}

.type-label--music {
  @extend .type-label;
  background-color: $music-bg-color;
}

.type-label--misc {
  @extend .type-label;
  background-color: $misc-bg-color;
}

.type-label--none {
  @extend .type-label;
  background-color: $notype-bg-color;
}

/*------------------------------------*\
  #ARTICLE
\*------------------------------------*/

.article-buttons-list,
.sharing-buttons-list {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  height: 60px;

  button {
    height: inherit;
  }

  @include respond-to(not-mobile) {
    justify-content: flex-start;

    li {
      margin: 0 16px;
      height: 30px;
    }
  }
}

.sharing-buttons-list {
  background-color: #ffffff;
}

.article-buttons-list {
  background-color: transparent;
}

.info-num {
  line-height: 30px;
  height: 30px;
  vertical-align: top;
  display: inline-block;
  font-size: 20px;
  margin-left: 10px;
}

p.article-cats {
  font-size: 13px;
  text-transform: uppercase;
  margin-right: 30px;

  a {
    @extend .capsule;
    font-size: 13px;
    @include border-radius(13px);
  }
}
 p.article-timestamp {
   font-size: 13px;

   em {
     font-weight: $font-bold;
   }
 }

.article__part--author-info {
  border-top: 1px solid $color-font-base;
  padding-top: 15px;
  position: relative;
  height: 65px;
  margin-bottom: 50px;
  margin-top: 0;
}

.author-info__details, .author-info__avatar {
  position: absolute;
  top: 50px;
}

.author-info__avatar {
  left: 0;
}

.author-info__details {
  left: 80px
}

.author-info__name {
  font-weight: $font-bold;
}

.article__part--meta-icons {
  border-top: 1px solid $color-font-base;
  height: 60px;
}

/*------------------------------------*\
  #COMMENTS
\*------------------------------------*/

.comment-list {
  >.comment {
    margin-bottom: 50px;

    &:last-child {
      padding-bottom: 60px;
      margin-bottom: 0;
      border-bottom: 1px solid $color-font-base;
    }
  }

  .children {
    margin-top: 40px;
    margin-left: 70px;
  }
}

.comment-body {
  position: relative;
  margin-left: 70px;

  .says {
    display: none;
  }

  .fn {
    font-weight: $font-bold;
    text-transform: capitalize;
  }

  .comment-content,
  .comment-meta,
  .reply {
    margin-top: 16px;

    p {
      font-size: 16px;
    }
  }

  .comment-reply-link {
    text-transform: uppercase;
    text-decoration: underline;

    &:hover {
      font-weight: $font-bold;
    }
  }

  .avatar {
    @extend .img-round;
    left: -70px;
    position: absolute;
  }
}

.required {
  color: $color-logo-red;

  &::before {
    content: " ";
  }
}

p.comment-notes {
  font-size: $base-font-size;
}

.cancel-reply-link {
  display: block;
}

.comment-form {

  .comment-meta-fields {
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }

  .comment-form-author,
  .comment-form-email,
  .comment-form-url {
    width: 100%
  }

  @include respond-to(not-mobile) {
    .comment-form-author,
    .comment-form-email {
      width: calc(50% - 10px);
    }
  }

  label {
    display: block;
    margin-top: $content-font-size;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: $font-bold;
  }

  input {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    padding: 15px;
  }

  .input--button {
    font-size: $content-font-size;
    line-height: $content-font-size;
    margin-top: $content-font-size;
    margin-bottom: $content-font-size;
    width: auto;

    @include respond-to(not-mobile) {
      margin-bottom: 70px;
    }
  }
}
/*------------------------------------*\
  #FOOTER
\*------------------------------------*/

.page-foot {
  font-size: $base-font-size;

  @include has-parallax() {

    &.scroll-fix {
      position: fixed;
      bottom: 0;
    }
  }
}

  .page-foot__colophon a {
    color: inherit;
    font-weight: $font-bold;
  }

  .page-foot__nav-menu ul {
    text-align: right;
  }

  .page-foot__nav-menu li {
    display: inline-block;
    line-height: 60px;
    padding-left: 10px;

    a {
      font-weight: $font-bold;
    }
  }