@import "../modules/mixins";

/*------------------------------------*\
  #SECTIONS
\*------------------------------------*/

/**
 * Extend `.page-head {}` in _media.scss.
 */

.page-head {
  width: 100%;
}

  .page-head__top {
    @extend .page-head;

    height: $height-nav-top;
    display: inline-block;
    padding: 10px;
  }

  .page-head__search {
    @extend .page-head;
    background-color: $color-bg-primary;
    height: 50px;

    .home & {
      background-color: transparent;
      position: absolute;
      top: 220px;
    }
  }

  .page-head__navbar {
    @extend .page-head;
    background-color: $color-bg-highlight;
    height: 40px;

    .home & {
      @include respond-to-max(768px) {display: none;}
    }
  }




.page-body {
  // padding: 15px;
}

.page-body--archive {
  background-color: $color-bg-primary;
}




.page-foot {
  width: 100%;
  background-color: $color-bg-footer;
  height: 60px;
  margin-top: 15px;

  .home & {
    @include respond-to-max(768px) {display: none;}
  }
}

  .page-foot__colophon {
    line-height: 60px;
  }

/*------------------------------------*\
  #ARTICLE
\*------------------------------------*/

.article__part {
  margin-top: 20px;
}

/*------------------------------------*\
  #WRAPPERS
\*------------------------------------*/

.wrapper--head-top {
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  text-align: center;
}

.wrapper--grid, .wrapper--category {
  margin-top: 15px;

  .home & {
    @include respond-to-max(768px) {display: none;}
  }
}

.wrapper--article, .wrapper--comments {
  background-color: $color-bg-primary;
  padding: 15px;
  margin-top: 15px;
}

.wrapper--oembed {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;

  embed,
  iframe,
  object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}