@import "../modules/mixins";

/*------------------------------------*\
  #SECTIONS
\*------------------------------------*/

/**
 * Extend `.page-head {}` in _media.scss.
 */

.page-head {
  width: 100%;
}

  .page-head__top {
    @extend .page-head;
    background-color: $color-bg-base;
    position: absolute;
    top: 0;
    height: $h-header-mobile;
    display: inline-block;
    padding: 16px 15px 0;

    @include respond-to(desktop) {
      padding: 25px 27px 0;
    }

    .single & {
      height: $h-header-mobile;

      @include respond-to(desktop) {
        height: $h-header-desktop-min;
      }
    }
  }

  .page-head__search {
    @extend .page-head;
    background-color: $color-bg-primary;
    position: absolute;
    top: $h-header-mobile;

    .home & {
      background-color: transparent;
      top: 270px;

      @include respond-to(desktop) {
        top: 245px;
      }
    }

    @include respond-to(desktop) {
      top: 245px;
      display: flex;
      justify-content: center;

      .single & {
        display: none;
      }
    }
  }

  .page-head__mini-search {
    display: none;

    @include respond-to(desktop) {
      .single & {
        display: block;
        float: left;
        margin-left: 15px;
      }
    }
  }

  .page-head__navbar {
    @extend .page-head;
    background-color: $color-bg-highlight;
    height: $h-nav-cats;

    .home & {
      display: none;

      @include respond-to(not-mobile) {
        display: block;
      }
    }
  }




.page-body--single {
  margin-top: $h-header-mobile + $h-search-mobile;

  @include respond-to(desktop) {
    margin-top: $h-header-desktop-min;
  }
}

.page-body--archive {
  background-color: $color-bg-primary;
}




.page-foot {
  width: 100%;
  background-color: $color-bg-footer;
  height: $h-footer;
  margin-top: 15px;

  .home & {
    @include respond-to-max(768px) {display: none;}
  }
}

  .page-foot__colophon {
    line-height: $h-footer;
  }

/*------------------------------------*\
  #ARTICLE
\*------------------------------------*/

.article__part {
  margin-top: 20px;
}

/*------------------------------------*\
  #WRAPPERS
\*------------------------------------*/

.wrapper--head-top {
  height: 26px;
  line-height: 32px;
  vertical-align: middle;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include respond-to(not-mobile) {
    height: 32px;
    display: block;

    .single & {
      display: block;
      // justify-content: space-between;
      // align-items: center;
    }
  }
}

.wrapper--grid, .wrapper--category {

  .home & {
    margin-top: 15px;

    @include respond-to-max(768px) {
      display: none;
    }
  }
}

.wrapper--article, .wrapper--comments {
  background-color: $color-bg-primary;
  padding: 15px;
  margin-top: 15px;
}

.wrapper--oembed {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;

  embed,
  iframe,
  object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.wrapper--tooltip {
  display: none;
  background-color: #fff;
  // padding: 0 15px;
  position: fixed;
  // top: $h-header-mobile;
  z-index: 100;
  // width: calc(100% - 64px);
  // height: 100%;
  // font-size: 130%;
  -webkit-box-shadow: 1px 1px 1px $shadow-mobile-menu;
  -moz-box-shadow: 1px 1px 1px $shadow-mobile-menu;
  box-shadow: 1px 1px 1px $shadow-mobile-menu;

  @include respond-to-min($break-small + 1) {
    // width: 188px;
    // height: auto;
    border: 1px solid $border-tooltip;
    border-radius: 7px;
    padding: 5px 0;
    position: absolute;
    z-index: 100;
    // top: 58px;
    // left: 27px;
    margin-left: -5px;
    -webkit-box-shadow: 1px 1px 1px $shadow-mobile-menu;
    -moz-box-shadow: 1px 1px 1px $shadow-mobile-menu;
    box-shadow: 1px 1px 1px $shadow-mobile-menu;

  }

  /*a {
    margin: 10px;
    display: block;
  }*/

  /*.toggled & {
    display: block;
  }*/
}

/*------------------------------------*\
  #ADMIN BAR VISIBLE
\*------------------------------------*/

.admin-bar {
  &.single {
    .page-head__top {
      top: $h-wp-adminbar-mobile;

      @include respond-to(desktop) {
        top: $h-wp-adminbar-desktop;
      }
    }

    .page-head__search {
      top: $h-wp-adminbar-mobile + $h-header-mobile;

      @include respond-to(desktop) {
        top: $h-wp-adminbar-desktop + $h-header-desktop-min;
      }
    }
  }

  &.home {
    .page-head__search {
      top: 270px;

      @include respond-to(not-mobile) {
        top: 245px;
      }
    }
  }

  .page-head__account-nav {
    top: $h-wp-adminbar-mobile + $h-header-mobile;

    @include respond-to(desktop) {
      top: $h-wp-adminbar-desktop + $h-header-desktop-min;
    }
  }
}