@import "../modules/mixins";

/*------------------------------------*\
  #SECTIONS
\*------------------------------------*/

/**
 * Extend `.page-head {}` in _media.scss.
 */

.page-head {
  width: 100%;
}

  .page-head__top {
    @extend .page-head;

    height: $height-nav-top;
    display: inline-block;
    padding: 10px;
  }

  .page-head__search {
    @extend .page-head;
    background-color: $color-bg-primary;
    height: 50px;
  }

  .page-head__navbar {
    @extend .page-head;
    background-color: $color-bg-highlight;
    height: 40px;
  }

.page-foot {
  width: 100%;
  background-color: $color-bg-footer;
  height: 60px;
}

  .page-foot__colophon {
    line-height: 60px;
  }

/*------------------------------------*\
  #WRAPPERS
\*------------------------------------*/

.wrapper--head-top {
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  text-align: center;
}