@import "../modules/mixins";

/*------------------------------------*\
  #MEDIA ELEMENTS
\*------------------------------------*/

%site-logo {
  height: inherit;
}

.site-logo--header {
  @extend .page-head__top;
  padding: 8px;
}

/*------------------------------------*\
  #SVG ICONS
\*------------------------------------*/

.svg {
  &.svg-menu_toggle {
    height: 32px;
  }
}

/*------------------------------------*\
  #SVG BUTTONS
\*------------------------------------*/

.svg-bg {
  display: block;

  &.svg-post_meta {
    display: inline-block;
  }
}

@each $icon in logo-mini, logo-minimized, logo, menu_toggle-close, menu_toggle-open, menu-about, menu-add, menu-contact, menu-profile, menu-sign_out, post_actions-download, post_actions-print, post_actions-send, post_meta-comments, post_meta-fav-notselected, post_meta-fav-selected, post_meta-fav, post_meta-views, search-large, search-mini, select_arrow-down, select_arrow-up, sharing-facebook, sharing-main, sharing-pinterest, sharing-twitter, sharing-email, type-custom, type-how_to, type-misc, type-music, type-thought {
  .svg-bg.svg-#{$icon} {
    background-image: url('../images/vectors/#{$icon}.svg');
  }
}

.svg-menu_toggle{
  background-size: 22.6px;
  background-position: center;
  height: 32px;
  width: 22.6px;
  background-repeat: no-repeat;
}

.svg-search--large,
.svg-search-large {
  height: 14px;
  vertical-align: middle;

  .home & {
    height: 20px;
  }

  @include respond-to(not-mobile) {
    height: 20px;
  }
}

.svg-select_arrow {
  height: 9px;
  width: 12px;
  position: absolute;
  top: 9px;
  right: 14px;
  background: center no-repeat;

  @include respond-to(not-mobile) {
    .home & {
      top: 17px;
    };
  }

  .filter-group.type.open & {
    @extend .svg-bg.svg-select_arrow-up;
  }
}

.svg-post_actions,
.svg-post_meta,
.svg-sharing {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.svg-post_meta {
  .grid-item & {
    background-position: center;
    background-size: 20px 20px;
    height: inherit;
    width: inherit;
  }
}
