@import "../modules/mixins";

/*------------------------------------*\
  #MEDIA ELEMENTS
\*------------------------------------*/

/**
 * Extending `.page-head {}` from _layout.scss.
 */

%site-logo {
  height: inherit;
}

.site-logo--header {
  @extend .page-head__top;
  padding: 8px;
}

/*------------------------------------*\
  #SVG ICONS
\*------------------------------------*/

.svg {
  &.svg-menu_toggle {
    height: 32px;
  }
}

/*------------------------------------*\
  #SVG BUTTONS
\*------------------------------------*/

.svg-bg {
  display: block;
}

@each $icon in logo-mini, logo-minimized, logo, menu_toggle-close, menu_toggle-open, menu-about, menu-add, menu-contact, menu-profile, menu-sign_out, post_actions-download, post_actions-print, post_actions-send, post_meta-comments, post_meta-fav-notselected, post_meta-fav-selected, post_meta-fav, post_meta-views, search-large, search-mini, select_arrow-down, select_arrow-up, sharing-facebook, sharing-main, sharing-pinterest, sharing-twitter, type-custom, type-how_to, type-misc, type-music, type-thought {
  .svg-bg.svg-#{$icon} {
    background-image: url('../images/vectors/#{$icon}.svg');
  }
}

  .svg-menu_toggle{
    background-size: 32px;
    background-position: center;
  }

  .svg-menu_toggle-close {
    height: 32px;
    width: 32px;
  }

  .svg-menu_toggle-open {
    height: 30px;
    width: 36px;
    background-repeat: no-repeat;
  }

/*
@each $state in close, open {
    .svg-menu_toggle-#{$state} {
    }
  }*/

.svg-search--large,
.svg-search-large {
  height: 14px;
  vertical-align: middle;

  .home & {
    height: 20px;
  }

  @include respond-to-min(769px) {
    height: 20px;
  }
}

.svg-select_arrow {
  height: 9px;
  width: 12px;
  position: absolute;
  top: 9px;
  right: 14px;
  background: center no-repeat;

  .home & {
    top: 17px;
  }

  @include respond-to-min(769px) {
    top: 17px;
  }

  .filter-group.type.open & {
    @extend .svg-bg.svg-select_arrow-up;
  }
}
