@import "../modules/mixins";

/*------------------------------------*\
  #GENERAL
\*------------------------------------*/

html {
  font-size:    $base-font-size;
  line-height:  $base-line-height;
  font-family:  $base-font-family;
}

/*------------------------------------*\
  #HEADINGS
\*------------------------------------*/

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  @include font;
  color: $color-font-heading;
  font-weight: $font-bold;
  clear: both;
}

body {
  @include font;
  color: $color-font-base;
  line-height: 1.5;
  font-size: 1rem;
}

h1, .h1 {
  font-size: 2.4rem;
  text-align: center;

  @include respond-to(desktop) {font-size: 3.3rem}

  &.category__title,
  &.search__title,
  &.my-siddur__title,
  &.author__title,
  &.archive__title {
    font-size: 14px;
    font-weight: $font-normal;
    line-height: 2.4em;

    em {
      font-weight: $font-bold;
    }
  }

  &.article__title,
  &.page__title {
    padding: 25px 0;

    @include respond-to(not-mobile) {
      padding: 50px 0;
      font-size: $title-font-size;
      line-height: $title-font-size;
    }
  }
}

h2, .h2 {
  font-size: 2.2rem;

  &.comments-area__count,
  .comment-respond & {
    text-align: center;
    font-size: 1.7rem;
    padding: 25px 0;

    @include respond-to(not-mobile) {
      padding: 50px 0;
      font-size: $title-font-size;
      line-height: $title-font-size;
    }
  }
}

h3, .h3 {
  font-size: 2rem;
}

h4, .h4 {
  font-size: 1.8rem;
}

h5, .h5 {
  font-size: 1.6rem;
}

h6, .h6 {
  font-size: 1.4rem !important;
}

p {

  .page-body--singular & {
    font-size: 1.2rem;
    margin-bottom: 30px;

    @include respond-to(not-mobile) {
      font-size: $content-font-size;
    }
  }
}

/*------------------------------------*\
  #LINKS
\*------------------------------------*/

a {
  color: $color-highlight;

  .page-body--singular & {
    color: #527ec0;
  }
}

.a--block {
  display: inline-block;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.no-decor {
  text-decoration: none !important;
}

.logo-link {
  height: 100%;
  width: 100%;
}

.btn {
  color: $color-highlight;
  text-transform: none;
}

.btn--logo {
  background-image: $logo-mini-path-svg;
  background-repeat: no-repeat;
  text-indent: -9999px;
  display: block;

  .home & {
    background-image: $logo-path-svg;
  }

  @include respond-to(tablet) {
    .parallax-container & {
      background-image: $logo-path-svg;
    }
  }

  @include respond-to(desktop) {
    background-image: $logo-path-svg;
  }
}

.btn__menu-toggle {
  height: 32px;
}

.article-button--fav {
  .grid-item & {
    float: right;
    height: 20px;
    width: 20px;
  }

  &:hover {
    text-decoration: none;
  }
}

  /*------------------------------------*\
    #CAPSULES
  \*------------------------------------*/

  .capsule {
    padding: 3px 10px;
    background-color: $color-highlight;
    @include border-radius(12px);
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    text-transform: capitalize;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  .capsule--large {
    @extend .capsule;
    font-size: $content-font-size;
    @include border-radius($content-font-size);
  }

  /*------------------------------------*\
    #FORMS
  \*------------------------------------*/

  .input {
    border-radius: 19px;
    background-color: #fff;
    padding: 5px 10px;
    border: 1px solid $color-highlight;
    color: $color-highlight;
    @include placeholder-color($color-highlight);
  }

  .input--textarea {
    width: 100%;
    max-width: 960px;
  }

  .input--button {
    background-color: $color-logo-red;
    color: #ffffff;
    font-size: $base-font-size;
    padding: 6px 16px;
    text-decoration: none;
    border: none;
  }

  /*------------------------------------*\
    #MEDIA
  \*------------------------------------*/

  .img-round {
    border-radius: 50% !important;
  }

  .img-responsive {
    margin-left: auto;
    margin-right: auto;
  }