@import "params";

/*-------------------------------------------------------------------------------
	FONTS
-------------------------------------------------------------------------------*/

@mixin font($name: "") {
  @if $name != "" {
    font-family: $name, $base-font-family;
  } @else {
    font-family: $base-font-family;
  }
}

/*-------------------------------------------------------------------------------
	RESET
-------------------------------------------------------------------------------*/

@mixin reset {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  background-color: inherit;
  vertical-align: baseline;
}

/*-------------------------------------------------------------------------------
	VENDORS
-------------------------------------------------------------------------------*/

@mixin calc($property, $expression) {
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -o-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition:    $transition;
  -o-transition:      $transition;
  transition:         $transition;
}

@mixin border-radius($radius, $background-clip: true) {
  -webkit-border-radius: $radius;
  -moz-border-radius:    $radius;
  border-radius:         $radius;

  @if $background-clip {
    -webkit-background-clip: padding-box;
    -moz-background-clip:    padding;
    background-clip:         padding-box;
  }
}

@mixin placeholder-color($color) {
  &::-webkit-input-placeholder { /* WebKit browsers */
    color: $color;
  }
  &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: $color;
  }
  &::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: $color;
  }
  &:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: $color;
  }
}

@mixin gradient-left-border($color, $width) {
    border-width: 0 0 0 $width;
    border-style: solid;
    -webkit-border-image:
            -webkit-gradient(linear, 0 0, 100% 0, from($color), to(rgba(0, 0, 0, 0))) 1 100%;
    -webkit-border-image:
            -webkit-linear-gradient(left, $color, rgba(0, 0, 0, 0)) 1 100%;
    -moz-border-image:
            -moz-linear-gradient(left, $color, rgba(0, 0, 0, 0)) 1 100%;
    -o-border-image:
            -o-linear-gradient(left, $color, rgba(0, 0, 0, 0)) 1 100%;
    border-image:
            linear-gradient(to left, $color, rgba(0, 0, 0, 0)) 1 100%;
}

/*-------------------------------------------------------------------------------
	RESPONSIVE
-------------------------------------------------------------------------------*/

@mixin respond-to($media) {
  @if $media == mobile {
    @media only screen and (max-width: $break-small - 1) { @content; }
  }
  @else if $media == not-mobile {
    @media only screen and (min-width: $break-small) { @content; }
  }
  @else if $media == tablet {
    @media only screen and (min-width: $break-small) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == desktop {
    @media only screen and (min-width: $break-large) { @content; }
  }
  @else if $media == desktop-n-print {
    @media print, screen and (min-width: $break-large) { @content; }
  }
}

@mixin respond-to-min($width) {
  @media only screen and (min-width: $width) { @content; }
}

@mixin respond-to-max($width) {
  @media only screen and (max-width: $width) { @content; }
}

/*-------------------------------------------------------------------------------
    PARALLAX
-------------------------------------------------------------------------------*/

@mixin parallax-container($height) {
  position: relative;
  overflow: hidden;
  height: $height;
}

@mixin parallax {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;

  img {
    display: none;
    position: absolute;
    left: 50%;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    transform: translateX(-50%);
  }
}

@mixin has-parallax() {
  .home &, .category &, .archive &, .author &, .search &, .my-siddur & {
    @content
  }
}

@mixin has-grid-archive() {
  .home &, .category &, .archive &, .author &, .search &, .my-siddur & {
    @content
  }
}