/*-------------------------------------------------------------------------------
	FONTS
-------------------------------------------------------------------------------*/

// Font Family Stacks
$font-open-sans:    'Open Sans', 'Open Sans Hebrew', sans-serif;
$font-roboto-slab:  'Roboto Slab', serif;
$font-roboto:       'Roboto', sans-serif;
$font-noto-sans:    'Noto Sans', sans-serif;

// Weights
$font-bold: 700;
$font-normal: 400;

/*-------------------------------------------------------------------------------
	COLORS
-------------------------------------------------------------------------------*/

// Logo Colors

$color-logo-red:              #ee6352;
$color-logo-blue:             #617ca7;
$color-logo-yellow:           #e3c088;

$logo-path-svg:               url("../images/vectors/logo.svg");
$logo-mini-path-svg:          url("../images/vectors/logo-mini.svg");
$path-home-bg:                url("../images/home_placeholder.jpg");
$path-home-bg-mobile:         url("../images/home_placeholder_mobile.jpg");
$path-icons:                  "../images/vectors/";

/*-------------------------------------------------------------------------------
	RESPONSIVE
-------------------------------------------------------------------------------*/

$break-small: 768px;
$break-large: 1240px;